{% extends 'base.html' %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 col-10 p-4 m-auto shadow rounded-3">
            <h2 class="m-2">Login</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary m-2" type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </div>
</div>
{% endblock %}
